
html {
    font-size: 62.5%;
}

.home-bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}

.home-bg:after {
    position: absolute;
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
    content: '';
    z-index: -1;
    /*background-image: url('https://api.dujin.org/bing/1366.php');*/
    background-image: url('/static/images/bg.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    /*-webkit-filter: blur(10px);*/
    /*filter: blur(10px);*/
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.header .logo {
    height: 60px;
    border-radius: 10px;
}

.header .title {
    margin-left: 20px;
    color: #333;
}

.form-container {
    margin-top: 30px;
    width: 500px;
    border-right: 1px solid #eee;
    padding-right: 100px;
}

.layui-form-label {
    width: 120px;
}

.layui-input-block {
    margin-left: 150px;
}

.red-star {
    color: #FF5722;
    margin-right: 5px;
}

.main-panel {
    width: calc(100% - 100px);
    min-height: 500px;
    display: flex;
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px #333;
    opacity: .95;
}

.main-panel .main-left-panel {
    width: 470px;
    min-height: 100px;
    position: relative;
}

.main-panel .main-right-panel {
    width: calc(100% - 600px);
    min-height: 100px;
    border-left: 1px solid #ccc;
    margin-left: 80px;
    padding-left: 50px;
}

.panel-submit-btn {
    /*margin-top: 6rem;*/
    position: absolute;
    bottom: 1rem;
}

.footer {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 1.4rem;
    color: #777;
}

.footer .box-links {
    margin-top: 1rem;
}

.footer .box-links a {
    color: #06c;
}

.footer .box-links a:hover {
    text-decoration: underline;
}

.footer .box-copyright {

}

.footer .box-copyright a {
    color: #777;
    text-decoration: underline;
}