.header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.header .logo {
    height: 60px;
    border-radius: 10px;
}
.header .title {
    margin-left: 20px;
}
.form-container {
    margin-top: 30px;
    width: 500px;
    border-right: 1px solid #eee;
    padding-right: 100px;
}
.footer {
    margin-top: 100px;
}
.layui-form-label {
    width: 120px;
}
.layui-input-block {
    margin-left: 150px;
}