body {
    background-image: url('/static/images/bg.jpg');
    /*background-image: url('https://api.dujin.org/bing/1366.php');*/
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.header .logo {
    height: 60px;
    border-radius: 10px;
}
.header .title {
    margin-left: 20px;
}
.form-container {
    margin-top: 30px;
    width: 500px;
    border-right: 1px solid #eee;
    padding-right: 100px;
}
.layui-form-label {
    width: 120px;
}
.layui-input-block {
    margin-left: 150px;
}
.red-star {
    color: #FF5722;
    margin-right: 5px;
}

.main-panel {
    width: calc(100% - 100px);
    min-height: 500px;
    display: flex;
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    opacity: .9;
    box-shadow: 0 0 10px #333;
}
.main-panel .main-left-panel {
    width: 470px;
    min-height: 100px;
}
.main-panel .main-right-panel {
    width: calc(100% - 600px);
    min-height: 100px;
    border-left: 1px solid #ccc;
    margin-left: 80px;
    padding-left: 50px;
}

.footer {
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}